* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --default-color: #EE4266;
  --accent-color: #00796b;
  --foreground-color: #0F1419;
  --background-color: #F8FFF8;
  --gray-dark-color: #66757F;
  --gray-light-color: #edeff1;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

main {
  width: 100%;
  /* display: flex; */
  /* justify-content: center;
  padding: 64px; */
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
}

/* .add-page,
.home-page, 
.detail-page, 
.leaderboards-page, 
.login-page, 
.register-page {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 32px;
  gap: 24px;
} */

.login-input input, 
.register-input input,
.thread-input input {
  display: block;
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid var(--gray-dark-color);
}

.login-input button, 
.register-input button,
.comment-input button, 
.thread-input button {
  margin-top: 12px;
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 0;
  background-color: var(--default-color);
  color: white;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

.comment-input__field,
.thread-input__field {
  border: 1px solid;
  border-radius: 8px;
  min-height: 120px;
  padding: 8px;
}

.thread-detail, 
.thread-detail__content,
.thread-comment,
.thread-comment__input {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.thread-detail__avatar {
  border-radius: 50%;
  width: 18px;
}

.thread-item__footer,
.thread-detail__footer {
  align-items: center;
  display: flex;
  font-size: 14px;
  gap: 12px;
}

.thread-upvote,
.thread-downvote,
.comment-upvote,
.comment-downvote {
  align-items: center;
  background-color: initial;
  border: 0;
  cursor: pointer;
  display: flex
}

.thread-upvote svg, 
.thread-downvote svg, 
.comment-upvote svg, 
.comment-downvote svg {
  font-size: 18px;
  margin-right: 4px;
}

.category-item {
  border: 1px solid;
  border-style: dashed;
  border-color: var(--default-color);
  border-radius: 4px;
  font-size: 12px;
  padding: 4px 8px;
  margin-bottom: 12px;
  display: inline-block;
}

.category-item.big {
  padding: 8px 12px;
  font-size: 16px;
  margin-bottom: 0;
}

.loading {
  background-color: #0F1419;
  position: sticky;
  top: 0;
}

.comment-item {
  border-bottom: 1px solid #d1d5db;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px 0;
}

.comment-item footer {
  display: flex;
  gap: 10px;
}

.comment-item__header, 
.comment-item__owner {
  align-items: center;
  display: flex;
}

.comment-item__owner {
  flex: 1 1;
  font-weight: 600;
  gap: 8px;
}


.thread-add__button {
  background-color: initial;
  border: none;
  color: var(--default-color);
  cursor: pointer;
  font-size: 48px;
  position: fixed;
  bottom: 32px;
  right: 32px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.navigation {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #cecece;
  background-color: var(--default-color);
  padding: 24px 32px;
  gap: 16px;
  z-index: 999;
}

.navigation li {
  display: inline-block;
  margin: 0 64px;
}

.navigation a, 
.navigation button {
  background-color: var(--default-color);
  color: white; 
  font-weight: 600;
  font-size: 16px;
  border: none;
}

.threadUser-item,
.threadUser-item__info {
  align-items: center;
  display: flex;
}

.threadUser-item__info {
  flex: 1 1;
  gap: 12px;
}

.threadUser-item__avatar {
  border-radius: 50%;
}

.comment-item__avatar {
  border-radius: 50%;
  width: 24px;
}

.threadUser-item__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.score-item {
  border: 1px solid;
  border-radius: 4px;
  display: inline-block;
  padding: 8px 12px;
}

.threads-list,
.threadUser-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.thread-item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

.thread-item__body {
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thread-item__comments,
.thread-detail__owner {
  align-items: center;
  display: flex;
  gap: 4px;
}

.loader {
  width: 60px;
  --b: 8px; 
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%,#EE4266) content-box;
  -webkit-mask:
    repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask: repeating-conic-gradient(#0000 0deg,#000 1deg 20deg,#0000 21deg 36deg),
    radial-gradient(farthest-side,#0000 calc(100% - var(--b) - 1px),#000 calc(100% - var(--b))); /* Added mask property */
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}

@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}
